[submodule "detrex"]
	path = 3rdparty/detrex
	url = https://github.com/IDEA-Research/detrex.git
	branch = main
[submodule "3rdparty/yolov10"]
	path = 3rdparty/yolov10
	url = https://github.com/guyleaf/yolov10.git
	branch = robust-af
[submodule "3rdparty/RT-DETR"]
	path = 3rdparty/RT-DETR
	url = https://github.com/guyleaf/RT-DETR.git
	branch = robust-af
